/* CSS Document */
body{
	width:1300px;
	margin:0 auto;
}
.container{
	width:1300px;
	height:1800px;
	background-color:#FEE;
	margin:0 auto;
}
.header{
	width: 1300px;
	height: 50px;
	background-color: #000;
	color:#fff;
}
.header_left{
	float:left;
	width:750px;
	height:35px;
	padding-left:50px;
	padding-top:15px;
}
.header_right{
	float:left;
	width:500px;
	height:40px;
	padding-top:10px;
}
.insert{
	width:1100px;
	height:300px;
	background:url(images%201/company.jpg);
	margin:0 auto;
}
.bar{
	width:1100px;
	height:660px;
	margin:0 auto;
	background-color:#Fff;
}
a:link{
 color:#fff;
 text-decoration:none;
}
a:visited {
 color: #000;
 background-color:#FCC;
 text-decoration:none;
}
a:hover {
 text-decoration:none;
}
ul{
 list-style:none;
}
.main{
 clear:both;
 padding:50px 150px;
 background-color:#fff;
 line-height:100px;
}
/*第一种形式*/
#tabs0 {
 height: 600px;
 width: 1100px;
 border: 1px solid #cbcbcb;
 background-color: #fff;
}
p{
	font:20px "微软雅黑";
	color:#000;
}
.menu0{
 width: 1100px;
 font:20px "微软雅黑";
}
.menu0 li{
 float:left;
 display:block;
 cursor:pointer;
 margin-left:-40px;
 margin-top:-15px;
 padding:5px 0;
 width:305px;
 height:35px;
 text-align: center;
 background: #FFFFff;
}
.menu0 li.hover{
 background: #f2f6fb;
}
#main0 ul{
 display: none;
}
#main0 ul.block{
 display: block;
}
.footer{
	width:1080px;
	height:200px;
	background-color:#D7D7D7;
	margin:0 auto;
	border-top:1px solid #9F9F9F;
	border-bottom:1px solid #9F9F9F;
	border-left:0px;
	border-right:0px;
	padding:10px;
}
.footer_left{
	float:left;
	width:610px;
	height:200px;
	background-color:#fff;
	padding-left:65px;
}
.footer_left_in{
	float:left;
	height:120px;
	width:120px;
	margin-top:0px;
}
.footer_right{
	float:left;
	width:395px;
	height:200px;
	margin-left:10px;
	background-color:#fff;
}
.footer_right_in{
	float:left;
	width:100px;
	height:100px;
	margin-top:30px;
	margin-left:50px;
	margin-right:40px;
	background-color:#FFF;
}
.footer_right_in1{
	float:left;
	width:375px;
	height:50px;
	margin:10px 10px;
	text-align:center;
	
}

h5{
	color:#FF8000;
	font:16px "微软雅黑";
}
h6{
	font:14px "微软雅黑";
}